<html lang="en">
<% if(tutorial == 0){ %>

    <%- include('./tutorialPrimo.ejs') %>

        <% }else{ %>

            <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <link href="/css/style.css" rel="stylesheet" type="text/css">
                <title>
                    <%= lingue[0].nuxta %>
                </title>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js">
                </script>
                <%- include('./lingue.ejs') %>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    <script>
                        setTimeout(() => {
                            $(document).ready(function() {
                                $("body").load(window.location.href)
                            })
                        }, 500)
                    </script>
            </head>

            <body>
                <!-- Start Top Bar -->
                <div class="top-bar" style="background: linear-gradient( #2a467b, #0f1624);">
                    <div class="top-bar-left">
                        <ul class="menu">
                            <a href="/">
                                <div class="color-menu">
                                    <li class="menu-text">
                                        <div class="glitch" data-text="Nuxta">
                                            <%= lingue[0].nuxta %>
                                        </div>
                                    </li>
                                </div>
                            </a>
                        </ul>
                    </div>
                    <div class="top-bar-right">
                        <ul class="menu">
                            <li>
                                <a href="/logout">
                                    <div class="href-grandezza">
                                        <%= lingue[0].logout %>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Top Bar -->
                <div class="top-bar2">
                    <ul class="vertical medium-horizontal menu expanded text-center">
                        <li>
                            <a href="/shop">
                                <div class="color-menu">
                                    <div class="stat">
                                        <img src="./immagini/shop.png" class="img-icone"><br>
                                        <%= lingue[0].shop %>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/vendi">
                                <div class="color-menu">
                                    <div class="stat">
                                        <img src="./immagini/vendi.png" class="img-icone"><br>
                                        <%= lingue[0].sell %>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <div class="stat">
                                <img src="./immagini/coin.png" class="img-icone"><br>
                                <%= lingue[0].coin %>
                            </div><span><%= token %> </span>
                        </li>
                        <li>
                            <div class="stat">
                                <img src="./immagini/mana.png" class="img-icone">
                                <br>
                                <%= lingue[0].mana %>
                            </div><span><%= mana %> </span>
                        </li>
                    </ul>

                    <ul class="vertical medium-horizontal menu expanded text-center">
                        <li>
                            <div class="stat">
                                <img src="./immagini/<%= dati[0].img %>" class="img-icone"><br>
                                <%= dati[0].nome %>
                            </div><span><%= dati[0].quantita %> </span>
                        </li>
                        <% if(dati[1].quantita > 1){ %>
                            <li>
                                <div class="stat">
                                    <img src="./immagini/<%= dati[1].img %>" class="img-icone"><br>
                                    <%= dati[1].nome %>
                                </div><span><%= dati[1].quantita %> </span>
                            </li>
                            <% }else{} %>

                                <% if(dati[2].quantita > 1){ %>
                                    <li>
                                        <div class="stat">
                                            <img src="./immagini/<%= dati[2].img %>" class="img-icone"><br>
                                            <%= dati[2].nome %>
                                        </div><span><%= dati[2].quantita %> </span>
                                    </li>
                                    <% }else{} %>

                                        <% if(dati[3].quantita > 1){ %>
                                            <li>
                                                <div class="stat">
                                                    <img src="./immagini/<%= dati[3].img %>" class="img-icone"><br>
                                                    <%= dati[3].nome %>
                                                </div><span><%= dati[3].quantita %> </span>
                                            </li>
                                            <% }else{} %>

                                                <% if(dati[4].quantita > 1){ %>
                                                    <li>
                                                        <div class="stat">
                                                            <img src="./immagini/<%= dati[4].img %>" class="img-icone"><br>
                                                            <%= dati[4].nome %>
                                                        </div><span><%= dati[4].quantita %> </span>
                                                    </li>
                                                    <% }else{} %>

                                                        <% if(dati[5].quantita > 1){ %>
                                                            <li>
                                                                <div class="stat">
                                                                    <img src="./immagini/<%= dati[5].img %>" class="img-icone"><br>
                                                                    <%= dati[5].nome %>
                                                                </div><span><%= dati[5].quantita %> </span>
                                                            </li>
                                                            <% }else{} %>

                                                                <% if(dati[6].quantita > 1){ %>
                                                                    <li>
                                                                        <div class="stat">
                                                                            <img src="./immagini/<%= dati[6].img %>" class="img-icone"><br>
                                                                            <%= dati[6].nome %>
                                                                        </div><span><%= dati[6].quantita %> </span>
                                                                    </li>
                                                                    <% }else{} %>

                                                                        <% if(dati[7].quantita > 1){ %>
                                                                            <li>
                                                                                <div class="stat">
                                                                                    <img src="./immagini/<%= dati[7].img %>" class="img-icone"><br>
                                                                                    <%= dati[7].nome %>
                                                                                </div><span><%= dati[7].quantita %> </span>
                                                                            </li>
                                                                            <% }else{} %>

                                                                                <li>
                                                                                    <div class="stat">
                                                                                        <img src="./immagini/acqua.png" class="img-icone"><br>
                                                                                        <%= dati[8].nome %>
                                                                                    </div><span><%= dati[8].quantita %> </span>
                                                                                </li>
                                                                                <li>
                                                                                    <div class="stat">
                                                                                        <img src="./immagini/persone.png" class="img-icone"><br>
                                                                                        <%= dati[9].nome %>
                                                                                    </div><span><%= dati[9].quantita %> </span>
                                                                                </li>
                                                                                <% if(dati[10].quantita >= 1){ %>
                                                                                    <li>
                                                                                        <div class="stat">
                                                                                            <img src="./immagini/<%= dati[10].img %>" class="img-icone"><br>
                                                                                            <%= dati[10].nome %>
                                                                                        </div><span><%= dati[10].quantita %> </span>
                                                                                    </li>
                                                                                    <% } %>
                                                                                        <% if(dati[11].quantita >= 1){ %>
                                                                                            <li>
                                                                                                <div class="stat">
                                                                                                    <img src="./immagini/<%= dati[11].img %>" class="img-icone"><br>
                                                                                                    <%= dati[11].nome %>
                                                                                                </div><span><%= dati[11].quantita %> </span>
                                                                                            </li>
                                                                                            <% } %>
                                                                                                <% if(dati[12].quantita >= 1){ %>
                                                                                                    <li>
                                                                                                        <div class="stat">
                                                                                                            <img src="./immagini/<%= dati[12].img %>" class="img-icone"><br>
                                                                                                            <%= dati[12].nome %>
                                                                                                        </div><span><%= dati[12].quantita %> </span>
                                                                                                    </li>
                                                                                                    <% } %>
                                                                                                        <% if(dati[13].quantita >= 1){ %>
                                                                                                            <li>
                                                                                                                <div class="stat">
                                                                                                                    <img src="./immagini/<%= dati[13].img %>" class="img-icone"><br>
                                                                                                                    <%= dati[13].nome %>
                                                                                                                </div><span><%= dati[13].quantita %> </span>
                                                                                                            </li>
                                                                                                            <% } %>
                                                                                                                <% if(dati[14].quantita >= 1){ %>
                                                                                                                    <li>
                                                                                                                        <div class="stat">
                                                                                                                            <img src="./immagini/<%= dati[14].img %>" class="img-icone"><br>
                                                                                                                            <%= dati[14].nome %>
                                                                                                                        </div><span><%= dati[14].quantita %> </span>
                                                                                                                    </li>
                                                                                                                    <% } %>
                                                                                                                        <% if(dati[15].quantita >= 1){ %>
                                                                                                                            <li>
                                                                                                                                <div class="stat">
                                                                                                                                    <img src="./immagini/<%= dati[15].img %>" class="img-icone"><br>
                                                                                                                                    <%= dati[15].nome %>
                                                                                                                                </div><span><%= dati[15].quantita %> </span>
                                                                                                                            </li>
                                                                                                                            <% } %>
                    </ul>
                </div>
                <form action="/generale" method="post">
                    <input type="hidden" value="1" name="evoluzione">
                    <button>evoluzione</button>
                </form>
                <div class="immagine-sfondo">
                    <button onclick="aggiungiMana()" style="height: 50%; width: 100%;">.</button>
                </div>
                <div class="row column">
                    <ul class="menu">
                        <li>
                            <a href="#">
                                <%= lingue[0].discord %>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= lingue[0].twitter %>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= lingue[0].instagram %>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= lingue[0].reddit %>
                            </a>
                        </li>
                    </ul>
                </div>


            </body>
            <script>
                function aggiungiMana() {
                    $.ajax({
                        url: 'http://localhost:3000/generale',
                        type: 'post',
                        data: {
                            inputMana: '1'
                        }
                    }).done(response => {})
                }
            </script>
            <% } %>

                <style>
                    body {
                        background: #0f1624;
                    }
                    
                    a,
                    div,
                    button,
                    span {
                        color: white;
                    }
                </style>

</html>