<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <%- include('./lingue.ejs') %>
        <title>
            <%= lingue[0].nuxta %>
        </title>
</head>

<body>

    <!-- Start Top Bar -->
    <div class="top-bar" style="background: linear-gradient( #2a467b, #0f1624);">
        <div class="top-bar-left">
            <ul class="menu">

                <a href="/">
                    <div class="color-menu">
                        <li class="menu-text">
                            <div class="glitch" data-text="Nuxta">
                                <%= lingue[0].nuxta %>
                            </div>
                        </li>
                    </div>
                </a>
                <% if(loggato == true){ %>
                    <li>
                        <a href="/generale">
                            <div class="href-grandezza">Vai All'Isola
                            </div>
                        </a>
                    </li>
                    <% } %>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <% if(loggato == true){ %>
                    <li>
                        <a href="/logout">
                            <div class="href-grandezza">
                                <%= lingue[0].logout %>
                            </div>
                        </a>
                    </li>
                    <% }else{ %>
                        <li>
                            <a href="/login">
                                <div class="href-grandezza">
                                    <%= lingue[0].login %>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/singup">
                                <div class="href-grandezza">
                                    <%= lingue[0].signup %>
                                </div>
                            </a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
    <!-- End Top Bar -->
    <div class="callout large" style="background: linear-gradient(#0f1624, #22304a); color:white; border: 0;">
        <div class="row column text-center">
            <h1>Entra In Un Nuovo Mondo</h1>
            <p class="lead">Costruisci Le Fondamenta Di Un Nuovo Mondo Da Zero</p>
            <a href="/generale" class="button large">Vai All'Isola</a>
            <a href="/about" class="button large hollow">Scori Dì Più</a>
        </div>
    </div>

    <div class="row">
        <div class="medium-6 columns medium-push-6">
            <img src="./immagini/nuxta_cosè.png">
        </div>
        <div class="medium-6 columns medium-pull-6" style="background-color: white;">
            <h2>Welcome</h2>
            <p>...</p>
        </div>
    </div>
    <hr>
    <div class="container-secondari">
        <h3>...</h3>
        <p> </p>
        <img src="./immagini/part.png" style="padding-left:5%; padding-bottom: 10px;">
    </div>
    <div class="container-secondari" id="idle">
        <h3>Funzionamento</h3>
        <p>...</p>
        <img src="./immagini/funzionamento.png" style="padding-left:3%; padding-bottom: 10px;">
    </div>

    <hr>
    <div class="container-secondari" id="about">
        <div class="row column">
            <h3>Da Dove Nasce L'Idea</h3>
            <p>l'idea nasce dal piccolo principe perchè...</p>
            <img src="" class="thumbnail" style="width: 200px; height: 200px; ">
            <p>l'idea nasce dal piccolo principe perchè...</p>
            <img src="" class="thumbnail" style="width: 200px; height: 200px; ">
        </div>
    </div>

    <hr>

    <div class="row column">
        <ul class="menu">
            <li>
                <a href="#">
                    <%= lingue[0].discord %>
                </a>
            </li>
            <li>
                <a href="#">
                    <%= lingue[0].twitter %>
                </a>
            </li>
            <li>
                <a href="#">
                    <%= lingue[0].instagram %>
                </a>
            </li>
            <li>
                <a href="#">
                    <%= lingue[0].reddit %>
                </a>
            </li>
        </ul>
    </div>
</body>


</html>