<html>

<head>

</head>

<body>
    <%- include("./components/principali.ejs") %>
        <a href="/generale">
            <button>torna all'isola</button>
        </a><br>
        <h3>
            token
            <%= token[0].token %>
        </h3><br>
        <% cibo.forEach((item)=>{ %>
            <form action="/shop" method="post" name="cibo">
                <input type="hidden" value="<%= item.id %>" name="inputCibo">
                <input type="hidden" value="<%= item.nome %>" name="nomeCibo">
                <button class="btn btn-outline-success"> compra <%= item.nome %></button>
            </form>
            <% }) %>
                <% persone.forEach((item)=>{ %>
                    <form action="/shop" method="post" name="persone">
                        <input type="hidden" value="<%= item.id %>" name="inputPersone">
                        <input type="hidden" value="<%= item.nome %>" name="nomePersone">
                        <button class="btn btn-outline-success"> compra <%= item.nome %></button>
                    </form>
                    <% }) %>
                        <% strutture.forEach((item)=>{ %>
                            <form action="/shop" method="post" name="strutture">
                                <input type="hidden" value="<%= item.id %>" name="inputStrutture">
                                <input type="hidden" value="<%= item.nome %>" name="nomeStrutture">
                                <button class="btn btn-outline-success"> compra <%= item.nome %></button>
                            </form>
                            <% }) %>


</body>

</html>