<!DOCTYPE html>
<html lang="en">
<% if(livelloTutorial[2].finito == 1){ %>

    <%- include('./tutorialQuarto.ejs') %>

        <% }else{ %>

            <head>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <link href="/css/style.css" rel="stylesheet" type="text/css">
                <title>
                    <%= lingue[0].nuxta %>
                </title>
                <%- include('./lingue.ejs') %>
            </head>

            <body>
                <!-- Start Top Bar -->
                <div class="top-bar">
                    <div class="top-bar-left">
                        <ul class="menu">
                            <div class="color-menu">
                                <li class="menu-text">
                                    <div class="glitch" data-text="Nuxta">
                                        <%= lingue[0].nuxta %>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="top-bar-right">
                        <ul class="menu">
                            <li>
                                <a href="">
                                    <div class="href-grandezza">
                                        <%= lingue[0].logout %>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End Top Bar -->
                <div class="top-bar2">
                    <ul class="vertical medium-horizontal menu expanded text-center">
                        <li>
                            <a href="#shop">
                                <div class="color-menu">
                                    <div class="stat">
                                        <%= lingue[0].shop %>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <form action="/generale" method="post">
                                <input type="hidden" value="3" name="tutorial">
                                <button>
                                    <div class="stat evidenziato">
                                        <%= lingue[0].sell %>
                                    </div>
                                </button>
                            </form>
                        </li>

                        <li>
                            <div class="stat">
                                <%= lingue[0].coin %>
                            </div><span>149 </span>
                        </li>
                        <li>
                            <div class="stat">
                                <%= lingue[0].mana %>
                            </div><span>100 </span>
                        </li>
                    </ul>

                    <ul class="vertical medium-horizontal menu expanded text-center">
                        <li>
                            <div class="stat">
                                wheat
                            </div><span>0 </span>
                        </li>
                        <li>
                            <div class="stat">
                                water
                            </div><span>175 </span>
                        </li>
                        <li>
                            <div class="stat">
                                people
                            </div><span>6 </span>
                        </li>
                        <li>
                            <div class="stat">
                                home
                            </div><span>1 </span>
                        </li>
                        <li>
                            <div class="stat">
                                water well
                            </div><span>0 </span>
                        </li>
                        <li>
                            <div class="stat">
                                field
                            </div><span>0 </span>
                        </li>
                        <li>
                            <div class="stat">
                                river
                            </div><span>1 </span>
                        </li>
                    </ul>
                </div>
                <p>perfetto ora andiamo avanti, se guardi in alto c'è un bottone con su scritto vendi prova a cliccarlo</p>
                <button style="height: 100%; width: 100%;">.</button>

                <div class="row column">
                    <ul class="menu">
                        <li>
                            <a href="#">
                                <%= lingue[0].discord %>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= lingue[0].twitter %>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= lingue[0].instagram %>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <%= lingue[0].reddit %>
                            </a>
                        </li>
                    </ul>
                </div>
            </body>
            <style type="text/css">
                div,
                span {
                    color: rgba(0, 0, 0, 0.300);
                }
                
                body {
                    background-color: rgba(0, 0, 0, 0.100);
                }
                
                p {
                    position: absolute;
                    width: 350px;
                    top: 300px;
                    right: 100;
                    background-color: white;
                    border: 20px white solid;
                }
            </style>
            <% } %>

</html>