<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <%- include('./lingue.ejs') %>
        <title>
            <%= lingue[0].nuxta %>
        </title>
</head>

<body>
    <!-- Start Top Bar -->
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <a href="/">
                    <div class="color-menu">
                        <li class="menu-text">
                            <div class="glitch" data-text="Nuxta">
                                <%= lingue[0].nuxta %>
                            </div>
                        </li>
                    </div>
                </a>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a href="/logout">
                        <div class="href-grandezza">
                            <%= lingue[0].logout %>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Top Bar -->
    <div class="img-icone-shop-sell">
        <img src="./immagini/vendi.png"></div>
    <div class="top-bar2">
        <ul class="vertical medium-horizontal menu expanded text-center">

            <li>
                <a href="/generale">
                    <div class="color-menu">
                        <div class="stat">
                            <img src="./immagini/isola.png" class="img-icone"><br>
                            <%= lingue[0].island %>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="/shop">
                    <div class="color-menu">
                        <div class="stat">
                            <img src="./immagini/shop.png" class="img-icone"><br>
                            <%= lingue[0].shop %>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <div class="stat">
                    <img src="./immagini/coin.png" class="img-icone"><br>
                    <%= lingue[0].coin %>
                </div><span><%= token[0].token %> </span>
            </li>
            <li>
        </ul>

    </div>
    <div class="row">
        <ul class=" medium-horizontal menu expanded ">
            <div class="posiziona-in-alto">
                <li>
                    <% acqua.forEach((item)=>{ %>
                        <% if(quantitaAcqua[0].quantita > 100){ %>
                            <form action="/vendi" method="post" name="acqua">
                                <input type="hidden" value="<%= item.id %>" name="inputAcqua">
                                <div class="contorno">
                                    <button>                            <img src="./immagini/acqua.png" class="img-icone">                                    <h3> <%= lingue[0].sell %> <%= item.nome %></h3></button></div>
                                <h4 style="color: white;">
                                    <%= lingue[0].quantity %>
                                        <%= quantitaAcqua[0].quantita %>
                                </h4>
                            </form>
                            <br>
                            <% } else { %>
                                <form action="/vendi" method="post" name="acqua">
                                    <input type="hidden" value="<%= item.id %>" name="inputAcqua">
                                    <div class="non-acquistabile">
                                        <div class="contorno">
                                            <button>                            <img src="./immagini/acqua.png" class="img-icone">                                            <h3> <%= lingue[0].sell %> <%= item.nome %></h3></button></div>
                                        <h4>
                                            <%= lingue[0].quantity %>
                                                <%= quantitaAcqua[0].quantita %>
                                        </h4>
                                    </div>
                                </form>
                                <br>
                                <% } %>

                                    <% }) %>
                </li>
            </div>
            <li>
                <% cibo.forEach((item)=>{ %>
                    <% const id = item.categorie_cibo - 1 %>
                        <% if (item.nome != "vuoto"){ %>
                            <% if(quantita[id].quantita > 100){ %>
                                <form action="/vendi" method="post" name="cibo">
                                    <input type="hidden" value="<%= item.categorie_cibo%>" name="inputCibo" id="uno">
                                    <div class="contorno">
                                        <button><img src="./immagini/<%= item.img %>" class="img-icone"> <h3> <%= lingue[0].buy %> <%= item.nome %></h3></button>
                                    </div>
                                    <h4>
                                        <%= lingue[0].quantity %>
                                            <%= quantita[id].quantita %>
                                    </h4>
                                </form>
                                <br>
                                <% }else{ %>
                                    <form action="/vendi" method="post" name="cibo">
                                        <input type="hidden" value="<%= item.categorie_cibo%>" name="inputCibo" id="uno">
                                        <div class="non-acquistabile">
                                            <div class="contorno">
                                                <button><img src="./immagini/<%= item.img %>" class="img-icone"> <h3> <%= lingue[0].buy %> <%= item.nome %></h3></button>
                                            </div>
                                            <h4>
                                                <%= lingue[0].quantity %>
                                                    <%= quantita[id].quantita %>
                                            </h4>
                                        </div>
                                    </form>
                                    <br>
                                    <% }  %>
                                        <% }else{ }%>
                                            <% }) %>
            </li>
        </ul>
    </div>
    </div>
    <hr>
    <div class="row column link">
        <ul class="menu">
            <li>
                <a href="#">
                    <%= lingue[0].discord %>
                </a>
            </li>
            <li>
                <a href="#">
                    <%= lingue[0].twitter %>
                </a>
            </li>
            <li>
                <a href="#">
                    <%= lingue[0].instagram %>
                </a>
            </li>
            <li>
                <a href="#">
                    <%= lingue[0].reddit %>
                </a>
            </li>
        </ul>
    </div>
</body>

<style>
    body {
        background: #0f1624;
    }
    
    a,
    div,
    button,
    span {
        color: white;
    }
</style>

</html>