<html>

<head>

</head>

<body>
    <%- include("./components/principali.ejs") %>
        <div class="isola">
            <a href="/generale">
                <button>torna all'isola</button>
            </a>
            <a href="/shop">
                <button>shop</button>
            </a><br>
        </div>
        <h2>
            token
            <%= token[0].token %>
        </h2><br>
        <% cibo.forEach((item)=>{ %>
            <form action="/vendi" method="post" name="cibo">
                <input type="hidden" value="<%= item.id %>" name="inputCibo">
                <% const id = item.id - 1 %>
                    <button class="btn btn-outline-success"> vendi <%= item.nome %><h2>quantità
                        <%= quantita[id].quantita %>
                    </h2></button>
            </form>
            <% }) %>
                <% acqua.forEach((item)=>{ %>
                    <form action="/vendi" method="post" name="acqua">
                        <input type="hidden" value="<%= item.id %>" name="inputAcqua">
                        <button class="btn btn-outline-success"> vendi <%= item.nome %><h2> quantità <%= quantitaAcqua[0].quantita %></h2></button>
                    </form>
                    <% }) %>

</body>

</html>